*{
    margin: 0;
    padding: 0;
}

.mainpg{
    background-color: lightcyan;
    font-family: 'Times New Roman', Times, serif;

}
.mainpg h1{
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    color: black;
    display: flex;
    padding-top: 15px;

}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px 20px;
    margin: 10px;
}

.search input{
    padding: 5px 45px;
    background-color: whitesmoke;
    font-family: monospace;
    color: gray;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.character{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: white;
    border: 2px solid gold;
    border-radius: 10px;
    width: calc(20% - 30px);
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1)
    
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.character h1{
    font-size: 1.2rem;
}

.character h3{
    font-size: 1rem;
    color: #555;
}