*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper .load {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

.load .loading {
    background: whitesmoke;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0 10px;
    animation: load 0.8s ease infinite ;
}

.load .loading.one{
    animation-delay:0.3s ;
}
.load .loading.two{
    animation-delay:0.4s ;
}
.load .loading.three{
    animation-delay:0.5s ;
}
.load .loading.four{
    animation-delay:0.6s ;
}

@keyframes load {
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 20px;
        height: 20px;
    }
}