*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,6,5,0.2), rgba(32,15,25,0.6));
    position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backvideo{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.content{
    
    text-align: center;
}

.content h1{
    font-size: 150px;
    color: whitesmoke;
    font-weight: 600;
    transition: 0.5s;
}
.content a{
    text-decoration: none;
    font-size: 24px;
    color: whitesmoke;
    font-weight: 600;
    border: 2px solid white;
    padding: 14px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.content a:hover{
    background-color: whitesmoke;
    color: black;
    
}

.content h1:hover{
    -webkit-text-stroke: 2px whitesmoke;
    color: transparent;
}


@media(min-aspect-ratio: 16/9){
    .backvideo{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .backvideo{
        width: auto;
        height: 100%;
    }
}

