.card{
    background-color: lightgray;
    color: black;
    font-size: 15px;
    padding: 5px;
    margin: 25px;
    border: solid 2px lightblue;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.card > h1 > b{
    color: red;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
