body{
    text-align: center;
    background-color: #016f32;
    color: white;
    font-size: 50px;
}
h1{
    font-size: 70px;
    color: goldenrod;
}

#msgel{
    font-style: italic;
}

.start{
    color: #016f32;
    width: 200px;
    background-color: goldenrod;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}
.new{
    color: #016f32;
    width: 200px;
    background-color: goldenrod;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding-top: 5px;
}