*{
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;

}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    background-color: rgb(245, 241, 241);
    align-items: center;
    filter: drop-shadow(10px);
    padding: 20px;
}

.logo{
    font-size: medium;
    color: red;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    
}

.logo:hover{
    transform: scale(1.1);
}

nav a {
    font-size: medium;
    margin-left: 40px;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    
}

nav a:hover, nav a.active
{
    color: brown;
    border-bottom: 3px solid brown;
}

.home{
    display: flex;
    
}

.img{
    border-radius: 100px;
}

.home-content{
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}